.table-wrapper {
    max-height: 75vh;
    overflow: auto;
}

.form-container {
    margin-left: 20px;
    width: 500px;
}

.grid-container {
    margin-left: 20px;
    margin-right: 20px;
}

select.form-control {
    -webkit-appearance: menulist;
}

input[type="number"] {
    -webkit-appearance: menulist;
}